asgiref
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
PyJWT
pytz
sqlparse
psycopg2-binary
python-dotenv
edge-tts
moviepy
Pillow
mysqlclient>=2.2.7,<3
gunicorn>=23,<24
whitenoise>=6.9,<7
